<section id="container">
    <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start--><a href="index.html.erb" class="logo"><img src="/assets/img/logo.png" width="90px"></a><!--logo end-->
        <div class="nav notify-row" id="top_menu">
            <!--  notification start -->
            <ul class="nav top-menu">
                <!-- settings start -->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="index.html.erb#">
                        <i class="fa fa-tasks"></i>
                        <span class="badge bg-theme">4</span>
                    </a>
                    <ul class="dropdown-menu extended tasks-bar">
                        <div class="notify-arrow notify-arrow-green"></div>
                        <li>
                            <p class="green">You have 4 pending tasks</p>
                        </li>
                        <li>
                            <a href="index.html.erb#">
                                <div class="task-info">
                                    <div class="desc">DashGum Admin Panel</div>
                                    <div class="percent">40%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40% Complete (success)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="index.html.erb#">
                                <div class="task-info">
                                    <div class="desc">Database Update</div>
                                    <div class="percent">60%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="index.html.erb#">
                                <div class="task-info">
                                    <div class="desc">Product Development</div>
                                    <div class="percent">80%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="index.html.erb#">
                                <div class="task-info">
                                    <div class="desc">Payments Sent</div>
                                    <div class="percent">70%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                        <span class="sr-only">70% Complete (Important)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="external">
                            <a href="#">See All Tasks</a>
                        </li>
                    </ul>
                </li>
                <!-- settings end -->
                <!-- inbox dropdown start-->
                <li id="header_inbox_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="index.html.erb#">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge bg-theme">5</span>
                    </a>
                    <ul class="dropdown-menu extended inbox">
                        <div class="notify-arrow notify-arrow-green"></div>
                        <li>
                            <p class="green">You have 5 new messages</p>
                        </li>
                        <li>
                            <a href="index.html.erb#">
                                <span class="photo"><img alt="avatar" src="/assets/img/ui-zac.jpg"></span>
                                <span class="subject">
                                    <span class="from">Zac Snider</span>
                                    <span class="time">Just now</span>
                                    </span>
                                <span class="message">
                                        Hi mate, how is everything?
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html.erb#">
                                <span class="photo"><img alt="avatar" src="/assets/img/ui-divya.jpg"></span>
                                <span class="subject">
                                    <span class="from">Divya Manian</span>
                                    <span class="time">40 mins.</span>
                                    </span>
                                <span class="message">
                                     Hi, I need your help with this.
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html.erb#">
                                <span class="photo"><img alt="avatar" src="/assets/img/ui-danro.jpg"></span>
                                <span class="subject">
                                    <span class="from">Dan Rogers</span>
                                    <span class="time">2 hrs.</span>
                                    </span>
                                <span class="message">
                                        Love your new Dashboard.
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html.erb#">
                                <span class="photo"><img alt="avatar" src="/assets/img/ui-sherman.jpg"></span>
                                <span class="subject">
                                    <span class="from">Dj Sherman</span>
                                    <span class="time">4 hrs.</span>
                                    </span>
                                <span class="message">
                                        Please, answer asap.
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html.erb#">See all messages</a>
                        </li>
                    </ul>
                </li>
                <!-- inbox dropdown end -->
            </ul>
            <!--  notification end -->
        </div>
        <div class="top-menu">
            <%= form_tag({controller: 'main', action: 'search'}, {class: 'navbar-form navbar-left'}) do %>
                <div class="form-group">
                    <%= text_field_tag :search, params[:search], class: 'form-control' %>
                </div>
                <%= submit_tag "Search", class: 'btn btn-default' %>
            <% end %>

            <ul class="nav pull-right top-menu">
                <li><%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'logout') %></li>
            </ul>
        </div>
    </header>
    <!--header end-->

    <!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">

                <p class="centered">
                    <a href="profile.html"><img src="/assets/img/profile.png" class="img-circle" width="60"></a></p>
                <h5 class="centered"><%= @user.nickname %></h5>
                <li class="mt"><a href="/newsfeed"> <em class="fa fa-dashboard"></em> <span>Home</span> </a>
                </li>
                <li class="sub-menu">

                <li class="sub-menu">
                    <a class="active" href="/profile">
                        <i class="fa fa-cogs"></i>
                        <span>Profile</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a href="/friends">
                        <i class="fa fa-th"></i>
                        <span>Fiends</span>
                    </a>
                </li>
            </ul>

            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">

            <div class="row">
                <div class="col-lg-9 main-chart">
                    <div class="col-md-6 col-md-offset-3">
                        <a href="#" class="wrapper">
                            <span class="text">Upload Photo</span>
                            <img align="middle" src="/assets/img/profile.png" class="img-circle img-responsive" alt="Placeholder image"></a>
                        <div align="center">
                            <h1 class="text-center"><%= @user.nickname %></h1>
                        </div>
                        <% if not @same_user %>

                            <%= link_to 'Send Friend Request', add_friend_user_path(:user_id => @user.id), class: 'btn btn-theme02', method: :put , remote: true ,id:'request-btn'%>
                        <% end %>
                    </div>

                    <div class="col-md-6 col-md-offset-3" align="center">
                    </div>


                    <!-- Blog Post Content Column -->

                    <div class="col-lg-9">
                        <h4>My Posts</h4><br>


                        <% @posts.each do |post| %>
                            <!-- Blog Post Content Column -->

                            <div class="col-lg-9">
                                <div class="well" id="post-<%= post.id %>">
                                    <!-- Blog Post -->

                                    <!-- Title -->
                                    <p class="lead">
                                        <a class="pull-left" href="#">
                                            <img align="middle" src="/assets/img/profile.png" class="img-circle img-responsive" alt="Placeholder image" width="50px" height="50px">
                                        </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><%= User.find(post.user_id).nickname %>
                                        </h4>
                                    </div>


                                    <!-- Date/Time --><br>

                                    <p>
                                        <span class="glyphicon glyphicon-time"></span>
                                        Posted on <%= post.created_at.strftime('%B %-d, %Y at %I:%M %p') %>
                                    </p>


                                    <!-- Post Content -->
                                    <p class="lead">
                                    <h5><%= post.content %></h5></p>
                                    <!-- Preview Image -->
                                    <% if post.photo.exists? %>
                                        <%= image_tag post.photo.url, class: 'img-responsive' %>
                                    <% end %>
                                    <br>

                                    <%= link_to '<i class="fa fa-check" ></i> Like'.html_safe, like_post_path(post), class: 'btn btn-theme02', method: :put, remote: true %>
                                    <% if @same_user %>
                                        <%= link_to '<i class="icon-remove-sign" ></i> Delete'.html_safe, post, class: 'btn btn-danger', method: :delete, remote: true %>
                                    <% end %>
                                    <p id="post-<%= post.id %>-likes"><%= pluralize(post.votes_for.size, 'like') %></p>

                                    <!-- Blog Comments -->

                                    <!--&lt;!&ndash; Comments Form &ndash;&gt;-->
                                    <!--<div class="well">-->
                                    <!--<h5>Leave a Comment:</h5>-->
                                    <!--<form role="form">-->
                                    <!--<div class="form-group">-->
                                    <!--<textarea class="form-control" rows="3"></textarea>-->
                                    <!--</div>-->
                                    <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                                    <!--</form>-->
                                    <!--</div>-->


                                    <!-- Posted Comments -->

                                    <!--&lt;!&ndash; Comment &ndash;&gt;-->
                                    <!--<div class="media">-->
                                    <!--<a class="pull-left" href="#">-->
                                    <!--<img class="media-object" src="http://placehold.it/64x64" alt="">-->
                                    <!--</a>-->
                                    <!--<div class="media-body">-->
                                    <!--<h4 class="media-heading">Start Bootstrap-->
                                    <!--<small>August 25, 2014 at 9:30 PM</small>-->
                                    <!--</h4>-->
                                    <!--Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante-->
                                    <!--sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra-->
                                    <!--turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue-->
                                    <!--felis in faucibus.-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <!--<hr>-->


                                </div>
                            </div>
                        <% end %>


                    </div>
                </div><!-- /col-lg-9 END SECTION MIDDLE -->



            </div>
            <! --/row -->
        </section>
    </section>

    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            2016
            <a href="index.html.erb#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--footer end-->
</section>


<script type="application/javascript">
    $(document).ready(function () {
        $("#date-popover").popover({html: true, trigger: "manual"});
        $("#date-popover").hide();
        $("#date-popover").click(function (e) {
            $(this).hide();
        });

        $("#my-calendar").zabuto_calendar({
            action: function () {
                return myDateFunction(this.id, false);
            },
            action_nav: function () {
                return myNavFunction(this.id);
            },
            ajax: {
                url: "show_data.php?action=1",
                modal: true
            },
            legend: [
                {type: "text", label: "Special event", badge: "00"},
                {type: "block", label: "Regular event",}
            ]
        });
    });


    function myNavFunction(id) {
        $("#date-popover").hide();
        var nav = $("#" + id).data("navigation");
        var to = $("#" + id).data("to");
        console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
</script>
