<div id="login-page">
    <div class="container">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class: 'form-login'}) do |f| %>
            <h2 class="form-login-heading">sign in now</h2>
            <div class="login-wrap">

                <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %><br/>

                <%= f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password' %>
                <div style="margin-bottom:1em;">

                </div>
                <%= button_tag(type: 'submit', class: 'btn btn-theme btn-block') do %>
                    <i class="fa fa-lock"></i> SIGN IN
                <% end %>
                <hr>


                <div class="registration">
                    Don't have an account yet?<br/>
                    <%= link_to "Create an account", new_registration_path(resource_name), style: 'text-decoration:none;' %>
                    <br/>
                </div>

            </div>
        <% end %>

    </div>
</div>



<!-- js placed at the end of the document so the pages load faster -->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<!--BACKSTRETCH-->
<!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
<script type="text/javascript" src="/assets/js/jquery.backstretch.min.js"></script>
<script>
    $.backstretch("/assets/img/bg.jpg", {speed: 500});
</script>